$color-black: #000000;
$color-dark-gray: #231f20;
$color-white: #ffffff;
$color-light-gray: #f1f1f1;
//
$color-light-green: #63d1bb;
$color-dark-green: #56c3b2;
$color-line-green: #62d1ba;
//
$color-text: #444444;
//
$color-line-gray: #ececec;
$color-line2-gray: #e5e5e5;
